<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <br>
                        <h1>View Your Own Business</h1>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h2>Enter your contact information</h2>
                                    <mat-form-field>
                                        <mat-label>Name</mat-label>
                                        <input matInput placeholder="Name" name="id" type="text" [(ngModel)]="name"
                                            required>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Mobile No.</mat-label>
                                        <input matInput placeholder="Mobile No." name="mobile"
                                            [(ngModel)]="mobileNumber" required>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Address</mat-label>
                                        <input matInput type="text" placeholder="Address" name="address"
                                            [(ngModel)]="address" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h2>Search For a Date</h2>
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker2" class="input" [(ngModel)]='date'
                                            disabled [ngModelOptions]="{standalone: true}" placeholder="Select date">
                                        <mat-datepicker-toggle matSuffix [for]="picker2">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h2></h2>
                                    <button mat-button class="submit-btn" (click)="search()">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="section-center">
        <div *ngIf="isSearch && sell.length>0">
            <div class="container">
                <div class="row">
                    <div class="booking-form2">
                        <div class="form-header">
                            <br>
                            <h2 style="color: whitesmoke;text-align: center;"><b>Paintings You Have Uploaded</b></h2>
                        </div>
                        <form>
                            <div class="row">
                                <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
                                    <div fxFlex="33%" *ngFor="let pic of sell">
                                        <mat-card class="mat-elevation-z4">
                                            <mat-card-header>
                                                <div mat-card-avatar style="background-image: '{{pic.painting.img}}';">
                                                </div>
                                                <mat-card-title>{{pic.painting.name}}</mat-card-title>
                                            </mat-card-header>
                                            <img mat-card-image src="{{pic.painting.img}}" alt="Photo of a Shiba Inu"
                                                width="100px" height="150px">
                                            <mat-card-content style="text-align:left;">
                                                <span>Price: ${{pic.painting.price}}</span><br>
                                                <span>Upload Date:{{pic.date}}</span><br>
                                                <span>Status:<span *ngIf="pic.painting.status"
                                                        style="color: green;">Available</span><span style="color: red;"
                                                        *ngIf="!pic.painting.status">Sold
                                                        <!-- <a
                                                            (click)="fun(pic.painting._id)"><br><small
                                                                style="margin-right: 0px; right:10px; text-align: right;">
                                                                Click
                                                                here to see buyer info.</small></a><span *ngIf="binfo"
                                                            style="color: blue;text-align: center;">
                                                            <p>This Painting is Bought by {{bname}} having mobile number
                                                                {{bnumber}}</p>
                                                        </span> -->
                                                    </span>
                                                    </span><br>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-center">
        <div *ngIf="isSearch && buy.length>0">
            <div class="container">
                <div class="row">
                    <div class="booking-form2">
                        <form>
                            <h2 style="color: whitesmoke;text-align: center;"><b>Paintings You have Bought</b></h2>
                            <div class="row">
                                <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
                                    <div fxFlex="33%" *ngFor="let pic of buy">
                                        <mat-card class="mat-elevation-z4">
                                            <mat-card-header>
                                                <div mat-card-avatar style="background-image: '{{pic.img}}';"></div>
                                                <mat-card-title>{{pic.painting.name}}</mat-card-title>
                                            </mat-card-header>
                                            <img mat-card-image src="{{pic.painting.img}}" alt="Photo of a Shiba Inu"
                                                width="100px" height="150px">
                                            <mat-card-content style="text-align: left;">
                                                <span>Price: ${{pic.painting.price}}</span><br>
                                                <span>Buy Date:{{pic.date}}</span><br>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>