<div class="maindiv"><br><br>
    <h1><i><b>Art Exhibition</b></i></h1>
    <p> This Global Art Exhibition is a curated online art gallery headquartered in Jaipu,India. Founded in 2006,
        It is an e-commerce platform that connects artists directly with collectors on its website. The company
        positions itself
        as an approachable and convenient alternative to the brick-and-mortar contemporary art gallery
    </p>

    <br>
    <div ><h3 style="margin-left:20px;color:green"><b>Exhibition starts from 11th October.</b></h3></div>
    <img src="assets/Images/art9.jpg" alt="library image" style="float: left;">
    <p>
        An art exhibition is traditionally the space in which art objects (in the most general sense) meet an audience.
        The exhibit is universally understood to be for some temporary period unless, as is rarely true, it is stated to
        be a "permanent exhibition".

        Such expositions may present pictures, drawings, video, sound, installation, performance, interactive art, new
        media art or sculptures by individual artists, groups of artists or collections of a specific form of art.
    </p>
    <br><br>
    &emsp;
    <img src="assets/Images/art4.jpg" style="float:right">
    <br><br><br>
    <br><br><br><br>
    <h1><i>HISTORY</i> </h1>
    <p>The company was founded by Shubham Yadav, Dhwani Kshatriya and Supriya Gupta.The three met in a business
        class at the IT company Infoobjects.pvt.ltd. Sharing an interest in the arts, they developed the concept for
        online art gallery
        through the Entrepreneurship Program. The artgallery.com website launched in September 2006.

        Originally seen as a way to help recent art school graduates find buyers, it began with five artists and
        25 pieces of original art. Securing outside capital in 2008, the company shifted its focus to mid-career
        and emerging artists from around the world
    </p>
    <p>
        This Exhibition was an early entrant to the business of selling original art online. At the time, many art
        critics
        questioned the concept. A 2007 Wall Street Journal article called "the online art marketplace as mottled as a
        Monet water scene." By 2012, the online art market was valued at $870 million. In 2014, the estimated
        value of the online art market grew to $2.64 billion, accounting for 4.8% of the estimated $55.2 billion value
        of the global art marke.
    </p>
    <img src="assets/Images/art2.jpg" alt="exhibition image" style="float: left;">
    <br><br><br>
    <h1><i>Gallery statistics</i></h1>
    <br><br>
    <p>
        Over 500 professional artists
    </p>
    <p>
        More than 6,500 pieces of original paintings, fine-art photography, drawings and sculptures.
    </p>
    <p>
        Clients in every U.S. state and over 45 countries
    </p>
    <p>
        Over 45 kilometers of space
    </p>
    <p>
        1.7 million social followers
    </p>
</div>