<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="33%" *ngFor="let pic of allImages">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <div mat-card-avatar style="background-image: '{{pic.img}}';background-size: cover;"></div>
                <mat-card-title>{{pic.name}}</mat-card-title>
                <span style="margin-left: 240px; color: rgb(81, 190, 81);" *ngIf="pic.status == true"><b>Available</b></span>
                <span style="margin-left: 240px; color: red;" *ngIf="pic.status == false"><b>Sold</b></span>
                <mat-card-subtitle>Painting</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{pic.img}}" alt="{{pic.name}}" height="300" width="100">
            <mat-card-content>
                <p>{{pic.desc}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <span><b>Rs.&nbsp;{{pic.price}}</b></span>
                <a href="{{pic.img}}" title="{{pic.name}}" download="{{pic.name}}">
                    <button mat-icon-button color="primary">
                        <mat-icon>get_app</mat-icon>
                    </button>
                </a>
                <!-- <button mat-icon-button color="primary" (click)="openDialog(pic)"> -->
                <button *ngIf="pic.status == true" mat-icon-button color="primary" (click)="openDialog(pic)">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
                <!-- <span style="margin-left: 180px;">{{pic.status == true ? 'Available' : 'Sold'}}</span> -->
                <!-- <button mat-button>Download</button>
          <button mat-button>Buy</button> -->
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<!-- <div> -->
    <!-- <input type='file' (change)="onFileChanged($event)"> -->
    <!-- <button (click)="myfunc()">Upload</button> -->
    <!-- <button (click)="getAllImages()">getImages</button> -->
    <!-- <div *ngFor="let pic of allImages">
      <p>{{pic.price}}</p>
      <img src="{{pic.img}}" height="600" width="500" />
    </div> -->
<!-- </div> -->
<!-- <img src="data:image/png;base64,{{image}}" height="1000" width="1000"/> -->
<!-- <img src="{{image3}}" height="600" width="600" /> -->
<!-- <div>
    <input type='file' (change)="onFileChanged($event)">
    <button (click)="myfunc()">Upload</button> -->
<!-- <button (click)="getAllImages()">getImages</button> -->
<!-- <div *ngFor="let pic of allImages">
    <p>{{pic.price}}</p>
    <img src="{{pic.img}}" height="600" width="500" />
  </div> -->
<!-- </div> -->
<!-- <img src="data:image/png;base64,{{image}}" height="1000" width="1000"/> -->
<!-- <img src="{{image3}}" height="600" width="600" /> -->

<!-- <img src="{{image}}" height="600" width="600"/> -->
<!-- <img src="data:image/png;{{image}}" height="500" width="500"/> -->
